nodered/flow.json
[
    {
        "id": "575695318bdce2b7",
        "type": "inject",
        "z": "24aecbbca22a36bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "62a763674f1b1c61"
            ]
        ]
    },
    {
        "id": "548e0270cbd2b223",
        "type": "inject",
        "z": "24aecbbca22a36bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "62a763674f1b1c61"
            ]
        ]
    },
    {
        "id": "0195333660d8d7a8",
        "type": "mqtt in",
        "z": "24aecbbca22a36bf",
        "name": "",
        "topic": "fiap/4sis/scienthiaphi/vagas",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5cffa89da9c1dfe2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 400,
        "wires": [
            [
                "b66017ac3f1fb623",
                "314a25835dca96da"
            ]
        ]
    },
    {
        "id": "62a763674f1b1c61",
        "type": "mqtt out",
        "z": "24aecbbca22a36bf",
        "name": "",
        "topic": "fiap/4sis/scienthiaphi/vagas",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5cffa89da9c1dfe2",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "b66017ac3f1fb623",
        "type": "debug",
        "z": "24aecbbca22a36bf",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "f5939b3ce5ae9fc0",
        "type": "inject",
        "z": "24aecbbca22a36bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AB",
        "payloadType": "str",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "62a763674f1b1c61"
            ]
        ]
    },
    {
        "id": "ee7ba38be97357de",
        "type": "inject",
        "z": "24aecbbca22a36bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "X",
        "payloadType": "str",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "62a763674f1b1c61"
            ]
        ]
    },
    {
        "id": "fcc05758c896ad31",
        "type": "ui_chart",
        "z": "24aecbbca22a36bf",
        "name": "",
        "group": "21825253e8fa01cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Vaga A",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "314a25835dca96da",
        "type": "switch",
        "z": "24aecbbca22a36bf",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "A",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "B",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "AB",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "X",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "68cbd4fcb3ce9411"
            ],
            [
                "14a7233e06aff148"
            ],
            [
                "782ba68ef8359def"
            ],
            [
                "58c7c4ac9dc28fa3"
            ]
        ]
    },
    {
        "id": "68cbd4fcb3ce9411",
        "type": "change",
        "z": "24aecbbca22a36bf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 320,
        "wires": [
            [
                "fcc05758c896ad31"
            ]
        ]
    },
    {
        "id": "14a7233e06aff148",
        "type": "change",
        "z": "24aecbbca22a36bf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 360,
        "wires": [
            [
                "b8596895167ba5a1"
            ]
        ]
    },
    {
        "id": "782ba68ef8359def",
        "type": "change",
        "z": "24aecbbca22a36bf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 420,
        "wires": [
            [
                "3e1137eb5119411c"
            ]
        ]
    },
    {
        "id": "58c7c4ac9dc28fa3",
        "type": "change",
        "z": "24aecbbca22a36bf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 500,
        "wires": [
            [
                "253e2b7ecaa8cc28"
            ]
        ]
    },
    {
        "id": "b8596895167ba5a1",
        "type": "ui_chart",
        "z": "24aecbbca22a36bf",
        "name": "",
        "group": "21825253e8fa01cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Vaga B",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "3e1137eb5119411c",
        "type": "ui_chart",
        "z": "24aecbbca22a36bf",
        "name": "",
        "group": "21825253e8fa01cb",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "2 Vagas",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "253e2b7ecaa8cc28",
        "type": "ui_chart",
        "z": "24aecbbca22a36bf",
        "name": "",
        "group": "21825253e8fa01cb",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Nenhuma vaga",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "5cffa89da9c1dfe2",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "21825253e8fa01cb",
        "type": "ui_group",
        "name": "ScienthiaPhi",
        "tab": "0583024f5a154e1e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0583024f5a154e1e",
        "type": "ui_tab",
        "name": "Estacionamento",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
